<ion-card *ngFor="let post of posts; let i = index">
  <ion-card-content>
    <h1 style="text-align: center;">
      <b>{{post.judul}}</b>
    </h1>
    <div style="display: flex; align-items: center;justify-content: center;">
      <ion-img style="width: 200px; height: 200px;" src="https://ubaya.fun/hybrid/160719019/UAS/images/{{post.gambar}}"></ion-img>
    </div>
    <p>Posted By: {{ post.username }}</p>
    <p>{{ post.tanggal_upload }}</p>
    <ion-label color='primary' routerLink='/detail/{{post.id}}'>Click For Detail</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" routerLink='/editpost/{{post.id}}'>Edit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" routerLink='/delete/{{post.id}}'>Delete</ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>