<ion-card *ngFor="let post of posts; let i = index">
  <ion-card-content>
    <h1 style="text-align: center; padding-bottom: 2vw;">
      <b>{{post.judul}}</b>
    </h1>
    <div style="display: flex; align-items: center;justify-content: center;">
      <ion-img style="width: 200px; height: 200px;" src="https://ubaya.fun/hybrid/160719019/UAS/images/{{post.gambar}}"></ion-img>
    </div>
    <div style="padding-top: 2vw;">
      <ion-icon slot="start" name="person" style="vertical-align: middle;"></ion-icon> 
      <ion-text style="vertical-align: middle;"> {{ post.username }}</ion-text> 
    </div>
    <div style="padding-bottom: 1vw;">
      <ion-icon slot="start" name="calendar" style="vertical-align: middle;"></ion-icon> 
      <ion-text style="vertical-align: middle;"> {{ post.tanggal_upload }}</ion-text> 
    </div>
    <ion-label color='primary' routerLink='/detail/{{post.id}}'>Click For Detail</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" routerLink='/editpost/{{post.id}}'>Edit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit" expand="block" (click)="deletedialog(post.id)">Delete</ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>