<ion-grid>
  <ion-row>
    <ion-col>
      <div style="display: flex; align-items: center;justify-content: center;">
        <ion-img style="width: 350px; height: 350px;" *ngIf="gambar!=''"
          src="https://ubaya.fun/hybrid/160719019/UAS/images/{{gambar}}">
        </ion-img>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="ion-text-end">By: {{username}}</div>
      <br>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position='stacked'>Judul</ion-label>
        <ion-input value="{{ judul }}" [(ngModel)]="judulPost"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='stacked'>Caption</ion-label>
        <ion-textarea value="{{ isi }}" [(ngModel)]="isiPost"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand='block' (click)="editPost()">Simpan</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>