<ion-content >
  <ion-button routerLink='/' style="padding-left: 2vw;"> 
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
    <ion-card *ngFor="let komentar of komentars; let i = index">
      <ion-card-content>
        <p>
          <b>{{komentar.username}}</b>
        <p>
        <p>{{ komentar.isi }}</p>
        <p>{{ komentar.tanggal_komen }}</p>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" routerLink='/addkomentar/{{id}}'>Tambah Komentar</ion-button>
</ion-content>