<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center"><b style="font-size: 5vh;">{{judul}}</b></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="display: flex; align-items: center;justify-content: center;">
        <ion-img style="width: 350px; height: 350px;" *ngIf="gambar!=''"
          src="https://ubaya.fun/hybrid/160719019/UAS/images/{{gambar}}">
        </ion-img>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">By: {{username}}</div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">{{total}} likes</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="padding: 5vw;" class="ion-text-justify">{{ isi }}</div>
    </ion-col>
  </ion-row>
</ion-grid>