<ion-grid>
  <ion-row>
   <ion-col size='4'>
      <ion-img *ngIf="gambar!=''" src="https://ubaya.fun/hybrid/160719019/UAS/images/{{gambar}}">
      </ion-img>
   </ion-col>
   <ion-col size='8'>
     <ion-grid>
       <ion-row><ion-col><b>{{judul}}</b></ion-col></ion-row>
       <ion-row><ion-col>By: {{username}}</ion-col></ion-row>
       <ion-row><ion-col>{{ isi }}</ion-col></ion-row> 
       <ion-row><ion-col>Like: {{total}}</ion-col></ion-row>
     </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>