<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center"><b style="font-size: 5vh;">{{judul}}</b></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="display: flex; align-items: center;justify-content: center;">
        <ion-img style="width: 350px; height: 350px;" *ngIf="gambar!=''"
          src="https://ubaya.fun/hybrid/160719019/UAS/images/{{gambar}}">
        </ion-img>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-icon slot="start" name="person" style="vertical-align: middle;"></ion-icon> 
        <ion-text style="vertical-align: middle;"> {{username}}</ion-text> 
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <ion-icon slot="start" name="heart" style="vertical-align: middle; color: red;"></ion-icon> 
        <ion-text style="vertical-align: middle;"> {{total}}</ion-text> 
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="padding: 5vw;">{{ isi }}</div>
    </ion-col>
  </ion-row>
</ion-grid>