<!-- <ion-card>
  <ion-card-content>
    <ion-item>
      <ion-input name="nama" type="text" placeholder="Input Your Name" [(ngModel)]='register_name'>
          </ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="username" type="text" placeholder="Input Your Username" [(ngModel)]='register_username'>
          </ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="Password" [(ngModel)]='register_passwd'>
          </ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" (click)='register()'>Register</ion-button>
    <ion-chip *ngIf="register_error">{{register_error}}</ion-chip>
  </ion-card-content>
</ion-card> -->